@import '../../style/base.scss';


.App-header {
  background-color: $dark-gray;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;


  nav {
    width: 100%;
    // background: #ccc;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: .5rem 2rem;
            position: relative;
            background: #ccc;
            margin-left: 25px;


            a {
                color:  $dark-gray;
                text-decoration: none;

                &:after {
                    bottom: 0;
                    content: '';
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                &.here, &.here:hover {
                    color: red;
                }
            }

            &:hover {
                background: #111;

                a {
                    color: #f5f5f5;
                }
            }
        }
    }
}
}

// }