.App-history{
    border: solid 2px #635a88;
    margin: .5em;
    min-height: 20vmin;
    border-radius: .3em;

    button{
        background-color: rgb(176, 168, 177);
        margin: 3px;
        border-radius: .3em;

    }
    h3{
        margin: 1em 
    }
  }
  
